<html>
  <head>
    <meta charset="utf-8">
    <title>GUM</title>
  </head>
  
  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GUM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">최신<span class="sr-only">(current)</span></a></li>
        <li><a href="#">베스트</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">검색</button>
      </form>
        <li class="dropdown">
           <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Message Inbox</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/users/sign_out">Log out</a></li>
            </ul>    
           <% else %>
             <li><a href="/users/sign_in">Sign in</a></li>
           <% end %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  

  <div style="margin-top:60px;" align="center" class="container"> 
    
    <form class="form-inline" action="/home/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input class="btn btn-info" value="업로드" type="file" name="pic" accept="file_extension|audio/*|video/*|image/*|media_type">
      </div>
      <input type="submit" class="btn btn-info" value="보내기">
    </form>
    
    <p>업로드된 동영상은 관리자가 적절히 편집해서 게재합니다.</p>
        
    <div style="margin-top:30px; font-size:70px;">Gum</div>
    

    <% @posts.each do |p| %><br><br>
      
      <div class="panel panel-info" style="width:530px">
        <div class="panel-heading"><%= p.title %></div>
        <div class="panel-body">
          <iframe src="https://player.vimeo.com/video/<%= p.video %>?badge=0" width="500" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      
          <div align="left" class="reply_<%=p.id%>">
            <% p.replies.each do |r| %>
            <p>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%= r.name %></a> <%= r.content %>
                <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Message</a></li>
                <li><a href="#">Search by name</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Block</a></li>
                </ul>  
              </div>
           </p>
          <% end %>
          </div>

            <form action="/home/reply_write" method="POST">
            <div class="input-group" style="width:500px;">
              <input type="hidden" value="<%=p.id %>" name="id_of_post">
              <% if user_signed_in? %>
              <input type="text" name="content" class="form-control" rows="5" id="content_<%= p.id %>" placeholder="댓글을 입력해주세요"><br>
              <span class="input-group-btn">
                <button value="<%=p.id%>" type="submit" class="btn btn-default reply_submit">Submit</button>
              <% else %>
              <input type="text" name="content" class="form-control" rows="5" id="content_<%= p.id %>" placeholder="댓글을 입력하시려면 로그인 해주세요"><br>
              <span class="input-group-btn">
                <button value="<%=p.id%>" type="submit" class="btn btn-default reply_unsubmit">Submit</button>
              <% end %>
              </span>
            </div>
            </form>
          
        </div>
      </div>
      
    <% end %>


<script>

  $(".reply_unsubmit").click(function(){
    alert("로그인을 해주세요")
    //location.replace("/users/sign_in");
  });
  
  /*
  $(function(){
    
    $(".reply_submit").click(function(){
      post_id = this.value;
      content = $("#content_" + post_id).val();
  
      $.ajax({
        method: "POST",
        url: "/home/reply_write",
        data: { content: content, id_of_post: post_id, },
       success: function(){
           
          $(".reply_" + post_id ).append( "<p>" + content + "</p>");
          $("#content_" + post_id).val('');
           alert("리플이 작성되었습니다.");
       },
       error: function() {
           alert("리플이 작성되지 않았습니다.");
          }
      })
    });
  });
*/
</script>


  </body>
</html>



 
   

                